.UserCam {
	margin: 15px auto;
	width: 650px;
	height: 420px;
}

.UserCam video {
	display: none;
	max-width: 650px;
}

.UserCam canvas {
	width: 650px;
	height: 420px;
	border-radius: 5px;
}

.preview canvas {
	box-shadow: 0 0 4px black;
}
