@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

*:root {
	--primary: #e7426e;
	--secondary: rgb(43, 145, 134);
	--terciary: #3fdfcf;
	--dark: #2c3140;
	--darklight: #53618c;
	--card: 5px;
}

*::selection {
	background-color: turquoise;
}

body {
	margin: 0;
	padding: 0;
	font-family: Opens Sans, sans-serif;
	background-color: #f5f5f5;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
}

h1.centered {
	font-size: 28pt;
	margin: 12px 0;
	text-align: center;
}
