.Menu {
	color: white;
	padding: 15px;
	display: flex;
	align-items: center;
}

.Menu ul {
	text-align: center;
	list-style: none;
	display: flex;
}

.Menu ul li {
	display: block;
	font-size: 14pt;
	font-weight: bold;
	margin: 0 10px;
}
