.Menu {
	color: white;
	width: 100%;
	position: fixed;
	padding: 15px;
	display: flex;
	align-items: center;
	background-color: var(--dark);
	font-family: "Open Sans", sans-serif;
}

.Menu ul {
	text-align: center;
	list-style: none;
	display: flex;
}

.Menu ul li {
	display: inline-block;
	font-size: 14pt;
	font-weight: bold;
	margin: 0 10px;
}

.LinkLogo {
	width: 240px;
	display: block;
}

.Link {
	display: block;
	color: white;
	text-decoration: none;
}

.Link:hover {
	text-decoration: underline;
}

.Visited {
	color: var(--terciary);
	text-shadow: 0 0 1px white;
	text-decoration: underline;
}
